<div class="list-group" style="width:400px ; margin: auto;">
  <div class="row">
    <div class="col col-md-6 col-sm-12">
      <button type="button" class="list-group-item list-group-item-action" #Allproducts value="Allproducts" (click)="getAllCategory(Allproducts.value)">All Categories</button>
      <button type="button" class="list-group-item list-group-item-action" #Clothes value="Clothes" (click)="getCategory(Clothes.value)">Clothes</button>
      <button type="button" class="list-group-item list-group-item-action" #Tshirt value="T-shirt" (click)="getCategory(Tshirt.value)">T-shirt</button>
      <button type="button" class="list-group-item list-group-item-action" #Hygiene value="Hygiene" (click)="getCategory(Hygiene.value)">Hygiene</button>
    </div>
    <div class="col col-md-6 col-sm-12">
      <button type="button" class="list-group-item list-group-item-action" #Electronics value="Electronics" (click)="getCategory(Electronics.value)">Electronics</button>
      <button type="button" class="list-group-item list-group-item-action" #Bags value="Bags" (click)="getCategory(Bags.value)">Bags</button>
      <button type="button" class="list-group-item list-group-item-action" #Shoes value="Shoes" (click)="getCategory(Shoes.value)">Shoes</button>
      <button type="button" class="list-group-item list-group-item-action" #Shoes value="Shoes" (click)="getCategory(Shoes.value)">Fashion</button>
    </div>
  </div>


</div>


